# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.d

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.bin
*.elf

# IAR Files
*.pdb
*.pdb.browse
*.pbi
*.pbi.cout

# VS Code files
*.VC.db

# Mac files
.DS_Store

# Special files to ignore
secrets.h
secrets.c

# Directories to ignore
Release/
Debug/
x64/
.x64/
__vm/
